.about {
  padding-bottom: 0;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about-svg {
  width: 70px;
  height: 70px;
}

.about-item:nth-child(4n) {
  margin-right: 0;
}

.about-after-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
