.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);

  display: block;
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
