.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: 370px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-text {
  position: absolute;
  z-index: 1;

  bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;

  color: #ffffff;
}

.box1 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
